[Unit]
Description=Timer para backup diario espalda a Backblaze B2

[Timer]
OnCalendar=*-*-* 15:00:00
Persistent=true
RandomizedDelaySec=10800

[Install]
WantedBy=timers.target
